<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi CV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="photo-container">
    <img src="https://res.cloudinary.com/df9ijwlgx/image/upload/v1714791035/pyv8jnx6rzwar8az9egn.jpg" alt="Mu foto">
  </div>

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información Personal</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input placeholder="  Brandon Sandoval"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Correo Electrónico</ion-label>
          <ion-input placeholder="  sandovalbrandon1027@gmail.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono</ion-label>
          <ion-input placeholder="  0992597185"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dirección</ion-label>
          <ion-input placeholder="  La arcadia"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Experiencia Laboral</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        
        <ion-item>
          <ion-label>Empresa</ion-label>
          <ion-input placeholder="  CCC Computer"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Puesto</ion-label>
          <ion-input placeholder="  Servicio Tecnico"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Periodo</ion-label>
          <ion-input placeholder="  Dos meses"></ion-input>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Educación</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        
        <ion-item>
          <ion-label>Institución</ion-label>
          <ion-input placeholder="  Mariscal Antonio Jose de Sucre"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Grado</ion-label>
          <ion-input placeholder="  Bachillerato"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Periodo</ion-label>
          <ion-input placeholder="  2019-A"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
