<ion-header>
  <ion-toolbar>
    <ion-title>
      Mi CV
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="photo-container">
    <img src="https://avatars.githubusercontent.com/u/117743091?v=4" alt="Mi foto">
  </div>

  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Información Personal</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Nombre</ion-label>
          <ion-input placeholder="  Washington Villares"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Correo Electrónico</ion-label>
          <ion-input placeholder="  washovilla78@gmail.com"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Teléfono</ion-label>
          <ion-input placeholder="  0335721446"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Dirección</ion-label>
          <ion-input placeholder="  Gualo"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Experiencia Laboral</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        
        <ion-item>
          <ion-label>Empresa</ion-label>
          <ion-input placeholder="  Analista ourtsoursing binaria s."></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Puesto</ion-label>
          <ion-input placeholder="  Servicio Tecnicoy practicante de hardware"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Periodo</ion-label>
          <ion-input placeholder="  Seis meses"></ion-input>
        </ion-item>
        
      </ion-list>
    </ion-card-content>
  </ion-card>

 
  <ion-card>
    <ion-card-header>
      <ion-card-title>Educación</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        
        <ion-item>
          <ion-label>Institución</ion-label>
          <ion-input placeholder="  Colegio Camilo Ponce Enriquez"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Grado</ion-label>
          <ion-input placeholder="  Bachillerato"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Periodo</ion-label>
          <ion-input placeholder="  2020-A"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
